@font-face {
    font-family: Sans-Serif;
    src: url(https://fonts.google.com/?category=Sans+Serif);
}
body{
    margin: 0px;
    background-color: #fefefe;

}
header{
    background-color: #b2b2b2;
}
h1,h2{
    text-align: center;
    margin: 2px;
}
#citation{
    border: 0px solid lightgrey;
    border-radius: 20px;
    width: 600px;
    height: 30px;
    margin: auto;
    text-align:center;
    padding: 30px;
    margin-top: 30px;
    background-color: #638bee;
    color: #cdd8f5;
}
#souvenir{
    border: 0px solid lightgrey;
    border-radius: 20px;
    width: 600px;
    margin-bottom: 5px;
    margin: auto;
    text-align:center;
    color: #cdd8f5;
    background-color: #f379de;
}
h3{
    text-align: center;
}
p{
    text-align: center;
}
#colonne{
    display: inline-flex;
    margin-top: 50px;
    margin-bottom: 50px;
}
ul{
    list-style-type: none;
}
#image1{
    float:left;
    vertical-align: top;
}
